---
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";
import { Preloader } from "@/components/layout/preloader";
import { Header } from "@/components/layout/header";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="icon"
      href="/favicon.ico"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>⚠️ ваш браузер сейчас взорвется ⚠️</title>
    <ClientRouter />
  </head>
  <body>
    <!-- <Preloader client:load /> -->
    <Header />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script>
  const defaultTitle = "⚠️ ваш браузер сейчас взорвется ⚠️";
  const blurTitle = "❗ вернись, я тут данные ворую 😭";

  document.addEventListener("visibilitychange", () => {
    if (document.hidden) {
      document.title = blurTitle;
    } else {
      document.title = defaultTitle;
    }
  });
</script>
